@charset "utf-8";
/* style reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f5;
}
/* main */

/* responsividade */
@media only screen and (min-width: 320px){
    div.my-box{
        width: 90%;
        height: 400px;
        background-color: greenyellow;
        margin: 60px auto;
        display: block;
        text-align: center;
        padding: 30px;
    }
    div.my-box h1{
        color: blue;
    }
}
@media only screen and (min-width: 540px){
    div.my-box{
        width: 50%;
        background-color: purple;
    }
    div.my-box h1{
        color: white;
    }
}