@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: gray;
}

.elementExample {
    width: 200px;
    height: 200px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    line-height: 200px;
}

.elementExample_first {
    background-color: #6c5ce7;
    position: absolute;
    right: 0;
}

.elementExample_second {
    background-color: #00b894;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%)translateY(50%) ;
}

.elementExample_last {
    background-color: #d63031;
    position: relative;
}

.elementExample-internal {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #00cec9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}