@keyframes estaPulando {
  to {
    transform: translateX(calc(30px - 50px));
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  animation: estaPulando 1s ease-in-out alternate infinite;
}
svg {
  width: 50px;
}
